extends layout

block content
  section.hero
    h2 Fashion That Fits Your Lifestyle
    p StyleNest is an online shopping destination for modern clothing, accessories, and everyday essentials.

  section.categories
    h3 Shop by Category
    ul
      li Women's Clothing
      li Men's Clothing
      li Accessories
      li Footwear

  section.products
    h3 Featured Products

    .product
      img(src="/img/bag.avif", alt="Women's Jacket")
      h4 Women's Denim Jacket
      p Classic blue denim jacket perfect for all seasons.
      p.price $59.99

    .product
      img(src="/img/shoes.jpeg", alt="Running Shoes")
      h4 Men's Running Shoes
      p Lightweight shoes designed for comfort and performance.
      p.price $89.99

    .product
      img(src="/img/jacket.jpeg", alt="Leather Handbag")
      h4 Leather Handbag
      p Elegant handbag made from premium quality leather.


//- Image sources: Walmart, Unsplash,.