

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}



header {
  background-color: #1e293b;
  color: #ffffff;
  padding: 1.5rem;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
}

nav a {
  color:blue;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}


main {
  padding: 2rem;
}



.hero {
  background-color: #e2e8f0;
  padding: 2rem;
  border-radius: 6px;
  margin-bottom: 2rem;
}


.categories ul {
  padding-left: 1.2rem;
}


.products {
  margin-top: 2rem;
}

.product {
  background-color: #ffffff;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.product h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.price {
  font-weight: bold;
  color: #0f766e;
}

img{
    width: 50%;
    height: 50%;
}
footer {
  background-color: #1e293b;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

ul {
  margin-top: 1rem;
}
